DATABASE_URL=postgres://testgo:123456@localhost:5432/testgo?sslmode=disable

POSTGRES_USER=testgo
POSTGRES_PASSWORD=123456
POSTGRES_DB=testgo

DATABASE_URL_DOCKER=postgres://testgo:123456@postgres:5432/testgo?sslmode=disable